.element__like-button {
    min-width: 22px;
    min-height: 19px;
    background-image: url(../../../images/button/element-like-button/element-like-button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.element__like-button:hover {
    cursor: pointer;
    opacity: 0.5;
}